@charset "utf-8";

/**********************************导航栏****************************************/

.header{position:fixed;top:0px;width:100%;left:0px;right:0px;z-index:999999;}

.header .header-nav{padding-top:28px;padding-bottom:28px;padding-left:70px;}

.header .header-nav .button{
    position: relative;
    background-color:transparent;
    background-image:none;
    cursor: pointer;
    z-index:9999999;
}
.header .header-nav .button:active{ background-color: transparent !important;}
.header .header-nav .button .icon-bars{
    background-color: #ffffff;
    -webkit-transform-origin: 24px;
    -ms-transform-origin: 24px;
    transform-origin: 24px;
    -webkit-transition: -webkit-transform .2s, opacity .1s;
    transition: transform .2s, opacity .1s;
    transition:background-color .2s;
    transition:all .3s;
    height: 3px;
    width: 25px;
    display: block;
    border-radius: 3px;
}
.header .header-nav .button .icon-bars + .icon-bars{
    margin-top:5px;
}
.header .header-nav .button.active .icon-bars:first-child{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.header .header-nav .button.active .icon-bars:nth-child(2){
    opacity:0;
}   
.header .header-nav .button.active .icon-bars:last-child{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-main{background-color:rgba(31, 31, 31,0.4);position:absolute;padding:62px 50px;left:-100%;transition:left .3s;-moz-transition:left .3s; /* Firefox 4 */-webkit-transition:left .3s; /* Safari 和 Chrome */-o-transition:left .3s; /* Opera */}
.header-main ul:after{content:"";display:block;clear:both;}
.header-main ul li{float:left;width:90px;text-align:center;}
.header-main ul li a{line-height:22px;font-size: 16px;color: rgb(255, 255, 255);   transition:all .1s;-moz-transition:all .1s; /* Firefox 4 */-webkit-transition:all .1s; /* Safari 和 Chrome */-o-transition:all .1s; /* Opera */}
.header-main ul li a:hover{font-size:21px;}
.header-main ul li.active a{font-size:21px;}






/* CSS Document */
.s1 {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -250px;
  width: 500px;
  height: 300px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.s1 p {
  margin: 0;
  padding: 50px 0 20px 0;
  font-family: Arial;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.s1 span {
  display: block;
  font-family: Arial;
  font-size: 25px;
  color: #666;
  text-align: center;
}

.s1 a {
  margin: 20px auto 0 auto;
  display: block;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font-family: Arial;
  font-size: 25px;
  background: #f88371;
}

.s1 a:hover { background: #ed6f5c; }
 @media (max-width:480px) {

.s1 {
  margin: -127px 0 0 0;
  width: 80%;
  height: 255px;
  left: 10%;
}

.s1 p { font-size: 36px; }

.s1 span { font-size: 18px; }
}

.sy-content{text-align:center;position:absolute;text-align:center;width:100%;height:100%;z-index:999999;top:0px;left:0px;}
.sy-content .logo-img{display:block;margin:0 auto;}
.sy-content .sy-ul{display:block;margin:0 auto;width:40%;max-width:774px;}
.sy-content .sy-ul:after{content:"";display:block;clear:both;}
.sy-content .sy-ul li{float:left;width:16.66666%;border-right:1px solid #ffffff;}
.sy-content .sy-ul li:last-child{border-right:0px;}
.sy-content .sy-ul li a{color:#ffffff;font-size: 16px;line-height:1;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
.sy-content .sy-ul li a:hover{color:#feb82f;}

.sy-img-logo{position:absolute;top:36%;text-align:center;width:100%;left:0px;}
.sy-nav-ul{position:absolute;top:36%;width:100%;left:0px;right:0px;margin-top:240px;}

/********************************产品首页************************************/

.swiper-pagination{right:20px;}
.swiper-pagination-switch{margin:16px 0;position:relative;}
.swiper-active-switch:after{content:"";position:absolute;width:16px;height:16px;border:1px solid #ffffff;border-radius:100%;top:-4px;left:-4px;}
#banner.channel1 .swiper-slide:nth-child(1n) ul{bottom: 180px;right:50%;width: 550px;margin-right:-600px;}
#banner.channel1 .swiper-slide:nth-child(2n) ul{bottom: 180px;left:50%;width: 550px;margin-left:-600px;}
#banner.channel1 ul{position: absolute;padding:30px 35px;background: rgba(0,0,0,0.4);box-sizing: border-box;text-align:left;}
#banner.channel1 h3{font-size: 24px;line-height: 40px;position:relative;margin: 0 0 16px;position: relative;border-bottom:1px solid rgba(254, 184, 47,0.32);height:auto;color: rgb(255, 254, 254);}
#banner.channel1 h3:after{content:"";position:absolute;width:152px;border-bottom:2px solid #feb82f;bottom:-1px;left:0px;}
#banner.channel1 h3 i{font-size:18px;text-transform:uppercase;color: rgb(255, 254, 254);font-weight:normal!important;}
#banner.channel1 p{font-size: 15px;line-height: 2.002;color: rgb(255, 255, 255);}
    

/********************************合作页面************************************/

.channel2 .hz-content{position:absolute;top:50%;left:50%;transform:translate(-50% , -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.channel2 .hz-content>.title{position:relative;margin-bottom:100px;font-size: 24px;color: rgb(255, 255, 255);line-height:1;font-weight:normal;}
.channel2 .hz-content .hz-cont{margin-bottom:70px;}
.channel2 .hz-content .border{position:relative!important;display:block!important;margin:0 auto 16px!important;width:auto!important;height:auto!important;left:auto!important;bottom:auto!important;}
.channel2 .hz-content .hz-cont .text-p{margin-bottom:18px;line-height:2.2!important;font-size: 16px!important;}
.channel2 .hz-content .hz-cont .text{font-size: 18px!important;margin-bottom:10px;line-height:2!important;}
.channel2 .cont-two>.title{margin-bottom:60px;}
.channel2 table{width: 1200px;z-index: 2;-webkit-animation-delay: 0.5s;animation-delay: 0.5s;-o-animation-delay: 0.5s;-ms-animation-delay: 0.5s;-moz-animation-delay: 0.5s;border-collapse: collapse;}
.channel2 table tr td{text-align: center;vertical-align: middle;width: 33.3333334%;padding-bottom:40px;padding-top:40px;}
.channel2 table tr td img{position:relative!important;display:block!important;margin:0 auto 20px!important;width:auto!important;height:auto!important;left:auto!important;bottom:auto!important;}
.channel2 table tr td .title{font-size: 18px;color: rgb(255, 255, 255);line-height: 1!important;margin-bottom:14px;}
.channel2 table tr td .text{font-size: 15px;color: rgb(255, 255, 255);}
    

/********************************品牌首页************************************/

.pp-title{top:42%!important;font-size: 24px!important;color: rgb(255, 255, 255);text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6)!important;}
.pp-text{top:42%!important;height:auto!important;font-size: 18px!important;color: rgb(255, 255, 255);line-height:46px!important;text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6)!important;}


/****************************************新闻列表页********************************************/

.news-list-cont{margin-bottom:65px;}
.news-list-cont .news-list{position:relative;margin-bottom:30px;}
.news-list-cont .news-list .bk{width:100%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;background-color:rgba(0,0,0,0.4);opacity:0;transition:all .35s;-moz-transition:all .35s;-webkit-transition:all .35s;-o-transition:all .35s;}
.news-list-cont .news-list a{display:block;position:relative;overflow:hidden;}
.news-list-cont .news-list a:hover .bk{opacity:1;}
.news-list-cont .news-list a:hover .news-right{right:0px;}
.news-list-cont .news-list .news-title{font-size: 16px;position:absolute;left:0px;right:0px;bottom:0px;line-height:70px;width:100%;padding-right:32px;box-sizing:border-box;height:70px;color:#ffffff;text-align:right;}
.news-list-cont .news-list .news-right{position:absolute;width:100%;height:70px;background-color:#feb82f;padding-left:32px;padding-right:32px;box-sizing:border-box;bottom:0px;z-index:9;padding-top:15px;right:-98%;transition:all .35s;-moz-transition:all .35s;-webkit-transition:all .35s;-o-transition:all .35s;}
.news-list-cont .news-list .news-right .title{font-size:16px;color:#ffffff;margin-bottom:8px;line-height:1;text-align:right;}
.news-list-cont .news-list .news-right .more{text-align:right;color:#ffffff;}


/****************************************新闻内容页********************************************/

.margin-top{margin-top:120px;}
.w1200{max-width:1200px;margin:0 auto;}
.news-content{max-width:1200px;margin-top:30px;margin-bottom:60px;}
.news-content:after{content:"";display:block;clear:both;}
.news-content .news-content-left{background-color:;padding-top:40px;padding-left:35px;padding-right:40px;padding-bottom:50px;box-sizing:border-box;}
.news-content .news-content-left .title{font-size:22px;color:#363330;margin-bottom:20px;text-align:left;font-weight:bold;}
.news-content .news-content-left .text{font-size:13px;text-align:left;color:#aeaeaf;margin-bottom:30px;}
.news-content .news-content-left .content{font-size:14px;color:#838280;line-height:1.8;min-height:400px;}
.news-content .news-content-left .content img{max-width:100%;}
.news-content .news-content-right{/*float:right;width:332px;*/}
.news-content .news-content-right li{/*width:332px;*/width:100%;margin-bottom:10px;}
.news-content .news-content-right li:after{content:"";display:block;clear:both;}
.news-content .news-content-right li .left{float:left;width:90px;height:90px;background-color:#feb82f;text-align: center;margin-right:12px;}
.news-content .news-content-right li .left .mouth{font-size:15px;color:#ffffff;margin-top:5px;margin-bottom:2px;}
.news-content .news-content-right li .left .day{font-size:40px;color:#ffffff;font-weight:500;margin-top:8px;}
.news-content .news-content-right li .right{margin-left:102px;padding-top:15px;}
.news-content .news-content-right li .right .title{margin-bottom:6px;font-size:17px;line-height:1.6;color:#353330;font-weight:600;transition: all 0.35s;-moz-transition: all 0.35s;-webkit-transition: all 0.35s;-o-transition: all 0.35s;}
.news-content .news-content-right li .right .title:hover{color:#feb82f;}


/****************************************轻漾专题页********************************************/

.qy-page{position:absolute;width:100%;top:50%;left:50%; transform:translate(-50% , -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.qy-page .page-left{padding-right:57px;padding-left:0px;text-align:left;padding-top:8%;}
.qy-page .page-left .title-top{display:inline-block;text-align:center;margin-bottom:50px;}
.qy-page .page-left .title-top .ftitle{color: rgb(104, 99, 99);font-size: 18px;text-transform: uppercase;line-height:1;margin-bottom:10px;font-weight:normal;}
.qy-page .page-left .title-top .page-title{font-size: 24px;color: rgb(40, 40, 40);line-height: 1;margin-bottom:10px;position:relative!important;font-family:"微软雅黑";}
.qy-page .page-left .title-top img{position:relative!important;width:auto!important;height:auto!important;left:0px!important;bottom:0px!important;margin:0 auto!important;}
.qy-page .page-left p{font-size: 16px;color: rgb(71, 71, 71);line-height: 2.125;text-align:left;padding-left:70px;}
.qy-page .page-right{padding-left:57px;padding-right:0px;}
.qy-page .page-right img{position:relative!important;width:100%!important;height:auto!important;display:block!important;margin:0 auto!important;left:0px!important;bottom:0px!important;}

.qy-page .page-right1{text-align:left;padding-top:12%;}
.qy-page .page-right1 .title-top{display:inline-block;text-align:center;margin-bottom:50px;}
.qy-page .page-right1 .title-top .ftitle{color: rgb(104, 99, 99);font-size: 18px;line-height:1;margin-bottom:10px;font-weight:normal;}
.qy-page .page-right1 .title-top .page-title{font-size: 24px;color: rgb(40, 40, 40);line-height: 1;margin-bottom:10px;position:relative!important;font-family:"微软雅黑";}
.qy-page .page-right1 .title-top img{position:relative!important;width:auto!important;height:auto!important;left:0px!important;bottom:0px!important;margin:0 auto!important;}
.qy-page .page-right1 p{font-size: 16px;color: rgb(71, 71, 71);line-height: 2.125;text-align:left;padding-left:30px;}
.qy-page .page-left1{}
.qy-page .page-left1 img{position:relative!important;width:100%!important;height:auto!important;display:block!important;margin:0 auto!important;left:0px!important;bottom:0px!important;}

.qy-page .page-left2{padding-right:57px;padding-left:0px;text-align:left;padding-top:8%;}
.qy-page .page-left2 .title-top{display:inline-block;text-align:center;margin-bottom:50px;}
.qy-page .page-left2 .title-top .ftitle{color: rgb(104, 99, 99);font-size: 18px;text-transform: uppercase;line-height:1;margin-bottom:10px;font-weight:normal;}
.qy-page .page-left2 .title-top .page-title{font-size: 24px;color: rgb(40, 40, 40);line-height: 1;margin-bottom:10px;position:relative!important;font-family:"微软雅黑";}
.qy-page .page-left2 .title-top img{position:relative!important;width:auto!important;height:auto!important;left:0px!important;bottom:0px!important;margin:0 auto!important;}
.qy-page .page-left2 p{font-size: 16px;color: rgb(71, 71, 71);line-height: 2.125;text-align:left;padding-left:0px;}
.qy-page .page-right2{padding-left:57px;padding-right:0px;}
.qy-page .page-right2 ul{margin-bottom:8px;display:block;}
.qy-page .page-right2 ul:after{content:"";display:block;clear:both;}
.qy-page .page-right2 li{float:left;padding:0 4px;}
.qy-page .page-right2 li.cont1{width:27%;}
.qy-page .page-right2 li.cont2{width:46%;}
.qy-page .page-right2 li>div{position:relative;}
.qy-page .page-right2 li .title{-webkit-transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out;transition: all 0.35s ease-in-out;position:absolute;width:100%;left:0px;right:0px;background-color: rgba(184, 184, 184,0.6);bottom:0px;height:40px;line-height:40px;font-size:18px;color: rgb(255, 255, 255);}
.qy-page .page-right2 .ih-item.square{width:100%;height:auto;border:0px;box-shadow:0px 0px 0px;}
.qy-page .page-right2 .ih-item.square.effect6 .info{background-color: rgba(32, 32, 32,0.4);}
.qy-page .page-right2 .ih-item.square.effect6 h3{font-size: 22px!important;color: rgb(255, 254, 254)!important;background-color:rgba(255,255,255,0)!important;font-weight:normal!important;position:relative!important;left:0px!important;top:0px!important;margin:130px auto 0!important;padding:0px!important;letter-spacing:0px!important;height:45px!important;line-height:45px!important;width:115px!important;border:1px dashed rgb(229, 229, 229)!important;}
.qy-page .page-right2 li:hover .title{opacity:0;}
.qy-page .page-right2 img{position:relative!important;width:100%!important;height:100%;/*height:auto!important;*//*height:100%!important;*/display:block!important;margin:0 auto!important;left:0px!important;bottom:0px!important;}





.return-top{display:block;width:48px;height:48px;background-image:url(../images/top-jt.png);background-position:center;background-repeat:no-repeat;background-color: rgba(19, 19, 19,0.6);position:fixed;bottom:60px;right:60px;z-index:99;}




/**********************************底部***********************************/

.footer{width:100%;background-color:#feb82f;padding-top:25px;padding-bottom:12px;text-align:center;}
.footer .title{line-height:1;color:#282828;margin-bottom:15px;}
.footer .text{line-height:1;color:#282828;margin-bottom:15px}




@media screen and (max-width: 1500px){
    .w1200{max-width:900px;margin:0 auto;}

    .sy-content .sy-ul{width:60%;}

    #banner.channel1 .swiper-slide ul{padding: 10px 15px;}
    #banner.channel1 .swiper-slide:nth-child(1n) ul{width: 380px;margin-right:-450px;}
    #banner.channel1 .swiper-slide:nth-child(2n) ul{width: 380px;margin-left:-450px;}

    .channel2 table{width:900px;}
    .channel2 table tr td .title{font-size:16px;}
    .channel2 table tr td .text{font-size:14px;}

    .pp-title{font-size:20px;margin: -26px 0 0!important;}
    .pp-text{font-size:15px;margin: 12px 0 0!important;}

    .qy-page .page-left p{padding-left:0px!important;}

}

/*@media (max-width: 1300px){
	.channel2 .cont-two>.title{margin-bottom:60px;}
}*/

@media screen and (max-width: 1200px){

    .channel2 .cont-two>.title{margin-bottom:60px!important;}

    .qy-page .page-left{padding-top:50px;padding-left:15px;padding-right:15px;margin-bottom:35px;text-align:center;}
    .qy-page .page-left p{/*padding-left:30px;padding-right:30px;*/width:70%!important;margin:0 auto;text-align:center;}
    .qy-page .page-right{padding-right:30px;padding-right:30px;}
    .qy-page .page-right img{width:80%!important;}
    .qy-page .page-right1 .title-top{margin-bottom:30px;}
    .qy-page .page-right1 p{padding-left:0px;padding-right:30px;}
    .qy-page .page-left2{padding-top:50px;padding-left:15px;padding-right:15px;margin-bottom:35px;text-align:center;}
    .qy-page .page-left2 p{width:70%;margin:0 auto;text-align:center;} 
    .qy-page .page-right2{padding-left:20px;padding-right:20px;}
    .qy-page .page-right2 img{height:280px!important;width:100%!important;}

}